<div class="card">
	{{#if picurl}}<div class="img-holder"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fig.ft.com%2Fsites%2Fperson-of-the-year%2Fimages%2F{{picurl}}?source=ig&width=200&height=200" class="card__img" alt="{{name}}" /></div>	{{/if}}
	<div class="card__body">
      <p class="year">{{year}}</p>
			<h3 class="card__title name">{{name}}</h3> 
			<p class="job">{{description}}</p>
			<p class="standfirst">{{headline}}</p>
	</div>
	{{#if linkurl}}<a class="story-promo" href="{{linkurl}}"><span class="link">Full profile</span></a>{{/if}}
</div>